* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(img/imagem-destaque-cabana-familia-cacoal-selva-park_4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}